{% extends "elespanolylamexicanaapp/base.html" %}
{% load static %}

{% block body %}
    <div class="container mt-2 mb-2">
        <div class="row pr-5 pl-5">
            <div class="col-1">
                <img class="img-chef" src="{% static 'img/chef.png' %}" >
            </div>
            <div class="col-11">
                <div><h3><b>Tu carrito de compra</b></h3></div>
                <div>
                    {% for sError in lsErrors %}
                        {{ sError }}
                    {% endfor %}
                </div>
                <div class="form-check form-check-inline" >
                    <input id="option1" type="radio" class="form-check-input", name="option1" value="1" >
                    <label class="form-check-label" for="option1">Ordernar y recoger</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="optino2" class="form-check-input" type="radio" name="optino1" value="2" disabled>
                    <label class="form-check-label" for="option2">Servicio a domicilio(No disponible)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2 mb-2">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2">
                <form method="POST">
                    <div class="dt-category rounded">
                        <div class="dt-head text-center">
                            <b>Total</b>
                        </div>
                        <div class="dt-body">
                            <div class="m-1">Sub: $ {{ dOrder.subtotals.subtotal }}</div>
                            <div class="m-1">Iva: $ {{ dOrder.subtotals.tax }}</div>
                            <div class="m-1">Total: $ {{ dOrder.subtotals.total }}</div>
                        </div>
                        <div style="clear: both;">
                            <input class="btn btn-primary w-100" type="submit" value="Confirmar" >
                        </div>
                    </div>
                    <input type="hidden" name="_type_delivery" value="PENDIENTE" >
                    <input type="hidden" name="_method" value="POST">
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-10">
                <div class="col-12 col-sm-12 col-md-10">
                    {% for oProduct in oProducts %}
                        <div class="container-fluid border rounded table-list-products mb-2">
                        
                            <div class="row">
                                <div class="col-2">
                                    <div class="d-flex align-items-center h-100">
                                        <img src="{% static 'img/default - copia.png' %}" alt="comida" class="img-fluid" >
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div>&nbsp;</div>
                                    <div class="">
                                        {{ oProduct.name|capfirst }}
                                    </div>
                                    <div class="">
                                        {{ oProduct.description|capfirst }}
                                    </div>
                                    <div class="float-right">
                                        <div>Precio: $ {{ oProduct.price }} {{ oProduct.iva_Html }} <b>$ {{ oProduct.total }}</b></div>                                    
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="d-flex align-items-center h-100">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input name="pk" type="hidden" value="{{ oProduct.id }}" >
                                            <button class="btn btn-danger">-</button>
                                        </form>                                    
                                    </div>                               
                                </div>
                            </div>
                        </div>
                    {% endfor %}                    
                </div>                
            </div>
        </div>
    </div>
{% endblock %}